<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Ultimate Fitness Planner</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar is-info  has-text-centered" role="navigation" aria-label="main navigation">
      <div class="container  has-text-centered">
        <span class="title has-text-grey-lighter  has-text-centered">Ultimate Fitness Planner</span>
      </div>
    </nav>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href="{{ url_for('main.index') }}" class="navbar-item ">
              Home
          </a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Exercises
            </a>
            <div class="navbar-dropdown">
              <a href="{{ url_for('main.get_exercise') }}" class="navbar-item">
                  Show exercises
              </a>
              <hr class="navbar-divider">
              <a href="{{ url_for('main.get_equipment') }}" class="navbar-item">
                  Show equipment
              </a>
            </div>
          </div>
          {% if current_user.is_authenticated %}
          <a href="{{ url_for('main.workouts') }}" class="navbar-item">
              Workouts
          </a>
          <a href="{{ url_for('main.profile') }}" class="navbar-item">
              Profile
          </a>
          {% endif %}
        </div>
    
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              {% if not current_user.is_authenticated %}
              <a class="button is-light" href="{{ url_for('auth.signup') }}">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light" href="{{ url_for('auth.login') }}">
                Log in
              </a>
              {% endif %}
              {% if current_user.is_authenticated %}
              <a class="button is-light" href="{{ url_for('auth.logout') }}">
                  Logout
              </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>
 
    <section class="hero">
        <div class="hero-body">
            <div class="">
                {% block content %}
                
                {% endblock %}
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
  
  </html>

