{% extends "base.html" %}

{% block content %}
<div>
  <h4>
    Add new equipment
  </h4>
</div>
<div>
  <form method="POST">
    <input name="name" id="name" placeholder="Enter equipment" value="{{ request.form['name'] }}" required>
    <input name="exercise" id="name" placeholder="Exercise" value="{{ request.form['exercise'] }}" required>
    <input type="submit" value="Save">
  </form>
  <br>
  <div>
    <h1 class="title">Equipments</h1>
  </div>
  <div class="card" style="width: 18rem;">
    {% for item in equip_list %}
    <ul class="list-group list-group-flush"></ul>
      <li class="list-group-item">{{item.name}}</li>
    {% endfor %}
  </div>
</div>
{% endblock %}