{% extends "base.html" %}

{% block content %}
<div>
  <h1 class="title">
    Add new exercise
  </h1>
</div>
<div>
  <form method="POST">
    <input type="text" placeholder="name" name='name' value="{{ request.form['name'] }}" required>
    <input type="text" placeholder="muscle" name="muscles" value="{{ request.form['muscles'] }}" required>
    <input type="text" placeholder="workout name" name="workout" value="{{ request.form['workout'] }}" >
    <input type="text" placeholder="description" name="description" value="{{ request.form['description'] }}" required>
    <input type="submit" value="Save">
  </form>
  <br>
  <div><h1 class="title">Exercises</h1></div>
  {% for exercise in e_list %}
  <div class="card has-background-grey-light" style="width: 35rem;">
    <div class="card-body">
      <h6>{{exercise.name}}</h6>
      <h6>Musle: {{exercise.muscles}}</h6>
      <div>
        {% for x in exercise.equipments %}
        <h6>Equipment: {{x.name}}</h6>
        {% endfor %}
      </div>
      <h6>Detail</h6>
      <div>{{exercise.description}}</div>
      <br>
    </div>
  </div>
  <br>
  {% endfor %}
</dev>
{% endblock %}