{% extends "base.html" %}
  
  {% block content %}
  <body class="bg-img img-responsive">
    <section class="hero is-fullheight">
        <div class="hero-body">
          <div class="container has-text-centered">
        <h1 class="title has-text-white">
          Ultimate Fitness Planner
        </h1>
        <h2 class="subtitle has-text-white">
          Create your workout
        </h2>
        <h2 class="subtitle has-text-white">
          Build your body
        </h2>
        <h2 class="subtitle has-text-white">
          Track your progress
        </h2>
      </div>
    </div>
    </section>
  </body>
  {% endblock %}




