
<div>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-8" id="category-8" data-toggle="tab" aria-expanded="true">Arms</a></li>
        <li class=""><a href="#tab-9" id="category-9" data-toggle="tab" aria-expanded="false">Legs</a></li>
        <li><a href="#tab-10" id="category-10" data-toggle="tab">Abs</a></li>
        <li><a href="#tab-11" id="category-11" data-toggle="tab">Chest</a></li>
        <li><a href="#tab-12" id="category-12" data-toggle="tab">Back</a></li>
        <li><a href="#tab-13" id="category-13" data-toggle="tab">Shoulders</a></li>
        <li class=""><a href="#tab-14" id="category-14" data-toggle="tab" aria-expanded="false">Calves</a></li>
    </ul>
</div>