{% extends "base.html" %}

{% block content %}
<div>
  <h1 class="title">
    Add new workout
  </h1>
</div>
<dev>
  <form method="POST">
    <input type="text" placeholder="workout name" name='name' value="{{ request.form['name'] }}" required>
    <input type="text" placeholder="day" name="day" value="{{ request.form['day'] }}" required>
    <input type="text" placeholder="sets" name="sets" value="{{ request.form['sets'] }}" required>
    <input type="text" placeholder="reps" name="reps" value="{{ request.form['reps'] }}" required>
    <input type="submit" value="Save">
  </form>
  <br>
  <div>
    <h1 class="title">
      Workouts
    </h1>
  </div>
  {% for workout in workout_list %}
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5>{{workout.day}}</h5>
      <h6>{{workout.name}}</h6>
      <h6>{{workout.sets}}</h6>
      <h6>{{workout.reps}}</h6>
      <hr>
      <div>
        {% for x in workout.exercises %}
          <h6>Exercise: {{x.name}}</h6>
          <h6>Muscle: {{x.muscles}}</h6>
          <div>
            {% for i in x.equipments %}
            <h6>Equipment: {{i.name}}</h6>
            {% endfor %}
          </div>
          <h6>Detail: </h6><p>{{x.description}}</p>
          <hr>
        {% endfor %}
      </div>
    </div>
  </div>
  <br>
  {% endfor %}
</dev>
{% endblock %}